<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Cari Pilot</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="wrapper fadeInDown">
        <form th:action="@{/cari/pilot/penerbangan-terbanyak}" method="GET">
            <div class="row">
                <p><b style="padding: 0px 0px 8px 14px">Pilih Kode Maskapai</b></p>
                <div class="col col-8">
                    <select class="form-control" name="kodeMaskapai"  >
                        <option value="0">Kode Maskapai</option>
                        <option th:each="maskapai:${maskapaiList}" th:value="${maskapai.kode}" th:text="${maskapai.kode}"></option>
                    </select>
                </div>
                <div style="padding: 1%" class="col">
                    <button type="submit" class="btn-primary btn btn-sm" role="button"> Cari </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12 col-sm-12">
        <h2  class="text-light text-table">Daftar 3 Pilot Terbaik Berdasarkan Penerbangan Terbanyak</h2>
        <table class="table table-responsive table-striped table-hover text-center">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">NIP</th>
                <th scope="col">Jumlah Penerbangan</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pilot, iterationStatus: ${pilpen}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${pilot.key.nama}"></td>
                <td th:text="${pilot.key.nip}"></td>
                <td th:text="${pilot.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>