<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h3 class="text-table text-light">Tambah Penerbangan</h3>
            <form th:action="@{/penerbangan/tambah}" th:object="${penerbangan}" method="POST">
                <div class="form-group">
                    <label>Kode</label>
                    <input type="text" name="kode" class="form-control" placeholder="Kode Penerbangan" required>
                </div>
                <div class="form-group">
                    <label>Waktu</label>
                    <input th:text="${#temporals.format(localDateTime, 'dd/MM/yyyy hh:mm a')}" name="waktu" class="form-control" placeholder="DD/MM/YYYY HH:MM AM/PM">
                </div>
                <div class="form-group">
                    <label>Kota Asal</label>
                    <input type="text" name="kotaAsal" class="form-control" placeholder="Kota Asal">
                </div>
                <div class="form-group">
                    <label>Kota Tujuan</label>
                    <input type="text" name="kotaTujuan" class="form-control" placeholder="Kota Tujuan">
                </div>
                <div style="justify-items: right; text-align: right">
                    <a th:href="@{/penerbangan}" class="btn btn-light btn-outline-dark" role="button">Batal</a>
                    <button type="submit" class="btn btn-light text-light" style="background: #001B36;">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>