<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container align-self-center align-items-center">
    <div class="row">
        <div class="jumbotron col-md-12 col-sm-12" style="background: #001B36">
            <h2 class="text-light text-center">Selamat Datang di SIPILOT! </h2>
        </div>
        <div class="jumbotron col-md-12 col-sm-12 justify-content-md-center text-center" style="background: white">
            <h4 class="text-dark">Daftar Fitur: </h4>
            <a th:href="@{/pilot}" class="btn btn-home text-light" style="background: #001B36"> Pilot </a>
            <a href="#" class="btn btn-home text-light" style="background: #001B36"> Penerbangan </a>
            <a href="#" class="btn btn-home text-light" style="background: #001B36"> Cari </a>
        </div>
    </div>
</div>
</body>
</html>