<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View All Penerbangan</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="col-md-12 col-sm-12">
        <a th:href="@{penerbangan/tambah}" class="btn btn-sm btn-light tombol-tambah-atas text-light" style="background: #577782" role="button"> +Tambah Penerbangan </a>
    </div>
    <div class="col-md-12 col-sm-12">
        <h2  class="text-light text-table">Daftar Penerbangan</h2>
        <table class="table table-responsive-xl table-striped table-hover text-center">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Kode Penerbangan</th>
                <th scope="col">Waktu</th>
                <th scope="col">Kota Asal</th>
                <th scope="col">Kota Tujuan</th>
                <th></th>
                <th scope="col">Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="penerbangans, iterationStatus: ${listPenerbangan}">
                <form th:action="@{/penerbangan/hapus}" th:object="${penerbangan}" method="POST">
                <input type="hidden" th:value="${penerbangans.id}" name="idPenerbangan">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${penerbangans.kode}"></td>
                <td th:text="${#temporals.format(penerbangans.waktu, 'dd/MM/yyyy hh:mm a')}"></td>
                <td th:text="${penerbangans.kotaAsal}"></td>
                <td th:text="${penerbangans.kotaTujuan}"></td>
                <td><a th:href="@{/penerbangan/detail/}+${penerbangans.id}" class="btn btn-sm text-light tombol-lihat" style="background: #1b4a88" role="button"> Lihat </a></td>
                <td><a th:href="@{/penerbangan/ubah/}+${penerbangans.id}" class="btn btn-sm text-light tombol-ubah" style="background: #061c32" role="button"> Ubah </a></td>
                <td><button type="submit" class="btn btn-sm text-light tombol-hapus" style="background: #2f0800" role="button"> Hapus </button></td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>