<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View Pilot</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="col-md-12 col-sm-12">
        <h2 class="text-light text-table">Detail Pilot</h2>
        <h4 th:text=" 'Id                   : ' + ${pilot.id}"></h4>
        <h4 th:text=" 'Nama                 : ' + ${pilot.nama}"></h4>
        <h4 th:text=" 'NIK                  : ' + ${pilot.nik}"></h4>
        <h4>
            <div th:if="${pilot.jenisKelamin} == 1">Jenis Kelamin        : Laki-laki</div>
            <div th:if="${pilot.jenisKelamin} == 2">Jenis Kelamin        : Perempuan</div>
        </h4>
        <h4 th:text=" 'NIP                  : ' + ${pilot.nip}"></h4>
        <h4 th:text=" 'Tempat Lahir         : ' + ${pilot.tempatLahir}"></h4>
        <h4 th:text=" 'Tanggal Lahir        : ' + ${#temporals.format(pilot.tanggalLahir, 'dd/MM/yyyy')}"></h4>
        <h4 th:text=" 'Sekolah              : ' + ${pilot.akademi.nama}"></h4>
        <h4 th:text=" 'Maskapai             : ' + ${pilot.maskapai.nama}"></h4>
        <a th:href="@{/pilot/ubah/}+${pilot.nip}" class="btn btn-sm text-light tombol-ubah" style="background: #061c32" role="button"> Ubah </a>
        <a th:href="@{/pilot/hapus/}+${pilot.nip}" class="btn btn-sm text-light tombol-hapus" style="background: #2f0800" role="button"> Hapus </a>
    </div>
    <div class="col-md-12 col-sm-12">
        <h2  class="text-light text-table">Jadwal Bertugas</h2>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Kode Penerbangan</th>
                <th scope="col">Waktu</th>
                <th scope="col">Kota Asal</th>
                <th scope="col">Kota Tujuan</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pilpen, iterationStatus: ${listPilPen}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${pilpen.penerbangan.kode}"></td>
                <td th:text="${#temporals.format(pilpen.penerbangan.waktu, 'HH:mm, dd/MM/yy')}"></td>
                <td th:text="${pilpen.penerbangan.kotaAsal}"></td>
                <td th:text="${pilpen.penerbangan.kotaTujuan}"></td>
                <td><a href="#" class="btn btn-sm btn-light text-light tombol-lihat" role="button"> Lihat </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>