body > div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-home{
    padding: 10px 15px;
    border-radius: 60%;
    width: 24%;
}

.tombol-tambah-atas{
    justify-content: left;
    !important; background: #577782;
}

.tombol-tambah-bawah{
    justify-content: right;
    background: #001B36;
}

.text-table{
    background: #001B36;
    text-align: center;
}

.tombol-lihat{
    background: #1b4a88
}

.tombol-ubah{
    background: #061c32
}

.tombol-hapus{
    background: #2f0800
}

.tombol-batal{
    justify-content: right;
    outline-color: #001B36;
    background: white;
    color: #001B36;
}