body > div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-home{
    padding: 10px 15px;
    border-radius: 60%;
    width: 24%;
}

.tombol-tambah-atas{
    justify-content: left;
    padding: 0px 0px 50px;
    !important; background: #577782;
}

.tombol-tambah-bawah{
    justify-content: right;
    !important; background: #001B36;
}

.text-table{
    padding: 10px;
    background: #001B36;
    text-align: center;
}

.tombol-lihat{
    !important; background: #1b4a88
}

.tombol-ubah{
    !important; background: #061c32
}

.tombol-hapus{
    !important; background: #2f0800
}

.tombol-batal{
    justify-content: right;
    outline-color: #001B36;
    background: white;
    color: #001B36;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px 15px 10px 15px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: left;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}